---
permalink: /impact-report/2024/print/
title: "New Jersey Office of Innovation: Impact Report 2024"
layout: print
hero:
  image: /assets/images/impact-report/2024/hero.webp
  title: "Impact Report 2024"
menu:
  - title: Introduction
    url: /impact-report/2024/
    collection: impactreport2024
    group-by: menu-group

---

<main id="main-content" class="maxw-tablet margin-x-auto">
  <div class="usa-logo margin-y-5 margin-top-15" id="extended-logo">
    <h1 class="display-flex flex-row flex-column flex-align-center">
      <img
        width="60"
        height="64"
        class="height-8 margin-bottom-05"
        src="{{ baseurl }}/assets/images/nj-logo.svg"
        alt="State of New Jersey" />
      {{ site.title }}</h1>
  </div>
  {% if page.hero %}
    <section
      class="usa-hero padding-top-15 padding-bottom-15"
      aria-label="Introduction"
      style="background-image: url({{page.hero.image}});">
      <div class="grid-container padding-top-10">
        {% if page.hero.title %}
          <h1 class="maxw-tablet" style="
          vertical-align: middle;
          text-align: center;
          margin: 0 auto;
          padding: 30px;
          background-color: #1c254f;
          font-size: 3em;
        ">
            {{ page.hero.title }}
          </h1>
        {% endif %}
      </div>
    </section>
  {% endif %}

  <div class="pagebreak"></div>
  <section class="usa-section border-bottom-2px border-base-light">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <main class="width-full usa-prose">
          <h2>Table of Contents</h2>
          {% capture menu_content %}
          {% include menu.html menu=page.menu %}
          {% endcapture %}
          {{menu_content | replace: '<a href="', '<a href="#'}}
        </main>
      </div>
    </div>
  </section>
  <div class="pagebreak"></div>

  {% assign chapters = site.impactreport2024 | sort: 'order' %}
  {% for chapter in chapters %}
    <section class="usa-section {% unless forloop.last %}border-bottom-2px border-base-light {% endunless %}">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <main class="width-full usa-prose" id="main-content">
            <h2 id="{{chapter.url}}">
              {% if chapter.title-prefix %}
                {{ chapter.title-prefix }}
              {% endif %}
              {{ chapter.title }}
            </h2>
            {% if chapter.title-image %}
              <img src="{{chapter.title-image.image}}" alt="" />
            {% endif %}
            {{ chapter.content | markdownify | replace: "<h2", "<h3" | replace: "</h2>", "</h3>" }}
          </main>
        </div>
      </div>
    </section>
    {% unless forloop.last %}
      <div class="pagebreak"></div>
    {% endunless %}
  {% endfor %}
</main>
