.insa-logo{
height: 40px;
}
.cc-link{
text-decoration: underline;
cursor: pointer;
}
.cc-link:hover{
  color: #d6d6d6;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #EFF5DF;
  color:  rgb(0,66,0);
  margin: auto;
  padding: 20px;
  width: 50%;
}
.modal-content h1{
  font-size: 2rem;
}

a.modal-button-link{
  color: rgb(0,66,0);
}
.modal-button{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* The Close Button */
.close {
  color: rgb(0,66,0);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.body-container{
  overflow: hidden;
}
.hide{
  display: none;
}
.thin-footer{
  display: flex;
  flex-direction:row;
  background-color:#333333;
  text-align:center;
justify-content: center;
align-items: center;
height: 70px;
}
.thin-footer-mod{

margin-right:10%;
}
.open-source{
  font-size: 0.7rem;
  color: #ffffff;
  text-decoration: none;
}
.double{
flex:auto;
}

.open-source:hover{
  color: #f0f0f0;
  text-decoration: none;
}
.footer-item.right-align{
  text-align:right;
}
.footer-item{
  text-align:center;
margin-bottom:0;
  flex-basis: 100%;
  flex:auto;
}

.footer-50{
  width: 50%;
  text-align:center;
}
.footer-50 p{
  color: #f0f0f0; 
  padding-top: 10px;
}

.footer-50 img{
  width: 20%; 
  opacity: 1;
  filter: alpha(opacity=100);
}
.footer-50 img:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button{
  background-color: #A5D148;
  border: none;
  color: rgb(33, 37, 41);
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

input[type=text]{
  width: 38%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  color: #ffffff;
  background-color:rgba(166, 209, 72, 0.301);
  border-radius: 0px;
  box-sizing: border-box;
}
::placeholder {
  color: rgba(166, 209, 72, 0.541);
  font-weight: 200;
}

.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  display:none;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.show-nav{
display:block;
}
.guv-video{
  padding-top: 40px;
  text-align: center;
}
.guv-video iframe{
  width: 80%;
  height: 300px;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar-2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.hero-row{
  display: inline-block;
}

.col-4p{
  width: 55px;
  float: left;
  height: 100%;
  background-color: rgba(54,54,54,0.4);
  opacity: 1;
  padding-top: 6px;
  display: inline-block;
  cursor: pointer;
}

.col-4p:hover{
  background-color: rgba(54,54,54,0.8);
 
}
.intro-videos{
  width: 100%;
  padding-top: 25px;
  text-align:center;
}
.intro-videos:after {
  content: "";
  display: table;
  clear: both;
}

.intro-videos p{
  background-color: #A5D148;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  
}

.full-header{
  width: 100%;
}
.col-48 {
  width: 30%;
  float: left;
  height: 100%;
  padding-left: 20px;
  padding-top: 14px;
}
.col-48 a{
  font-weight: 300;
  font-size: 9pt;
  padding-top: 16px;
  text-decoration: none;
}

.modules{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
 
}

.modules:after {
  content: "";
  display: table;
  clear: both;
}
.col-20 {
  width: 16%;
  height: 210px;
  float: left;
  margin-bottom: 40px;
  transition: transform .2s;
  text-align: center;
  padding-top: 10px;
}


.col-20 p{
  font-size: 10pt;
}
.expert.list-table{
  padding-bottom: 40px;
}
.expert.list-column {
  float: left;
  padding-top:30px;
}
.expert-list{
  text-align: center;
}
.expert-list p{
  text-align: center;
  padding-top: 10px;
}


.expert-list p .name{
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(0,0,0,0);
}

.expert-list p .title{
  background-color: rgba(0,0,0,0);
  opacity: 0.5;
  font-size: 14px;
  font-weight: 400;
}
.list-table{
  padding-bottom: 50px;
}
.list-row{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
.list-row:after {
  content: "";
  display: table;
  clear: both;
}
.list-column {
  float: left;
  padding-top:95px;
}

.list-items {
  width: 20%;
}

.list-title {
  width: 40%;
  padding-left: 50px;
}
.list-element{
  margin-left: auto;
  margin-right: auto;
}

#expert-image{
  border-width: 3px;
  border-style: solid;
  height: 150px;
  border-radius: 100px;
  background-color: rgba(0,0,0,0);
}
.gray-exp{
  color: #aeaeae;
}
.gray{
 color: #aeaeae;
 background-color: #e0e0e0;
 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 filter: grayscale(100%);
}
.gray i{
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}

.fa, .fas, .far {
font-size: 4rem;
}
.mod-1{
  background-color: rgba(209,72,77,0.24);
  color: #D1484D;
  border-color:#D1484D;
}
.mod-1:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  text-decoration: none;
  color: #D1484D;
}
.mod-1 i{

  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.mod-2{
  background-color: rgba(209,72,188,0.24);
  color: #D148BC;
}
.mod-2:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  text-decoration: none;
  color: #D148BC;
}
.mod-2 i{

  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.mod-3{
  background-color: rgba(98, 209, 72, 0.24);
  color: rgba(0,66,0,0.7);
}
.mod-3:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  text-decoration: none;
  color: rgba(0,66,0,0.7);
}
.mod-3 i{
 
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.mod-4{
  background-color: rgba(120, 111, 218, 0.24);
  color: #5348D1;
}
.mod-4:hover {
  text-decoration: none;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  color: #5348D1;
}
.mod-4 i{
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.half-1{
  display: flex;
  flex-direction: column;
  height: 50%;
  width:100%;
  background-color: rgba(72,177,209,0.24);
}
.half-1:hover {
  cursor: pointer;
  color: #48B1D1;
  text-decoration: none;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.half-1 p{
  padding-top: 10px;
}
.half-2{
  display: flex;
  flex-direction: row;
  height: 50%;
  width:100%;
  background-color: rgba(72, 177, 209, 0.397);
  align-items: flex-end;
  justify-content: center;
}
.half-2:hover {
  cursor: pointer;
  color: #48B1D1;
  text-decoration: none;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.half-2 p{
  color: rgb(66, 144, 170);
}
.mid-icon{
  z-index:200;
  display: flex;
  align-items: center;
  justify-content: center;
  height:0;
}
.mod-5{
  background-color: rgba(72,177,209,0.24);
  color: #48B1D1;
}
.mod-5:hover {
  text-decoration: none;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  color: #48B1D1;
}
.mod-5 i{
 
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
/* .mod-5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:0;
  color: #48B1D1;
}
.mod-5:hover .mid-icon{
  text-decoration: none;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport)
}
.mid-icon i{
  height: auto;
} */


.mod-6{
  background-color: rgba(72,209,209,0.24);
  color: rgb(27, 109, 109);
}

.mod-6:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  text-decoration: none;
  color: rgb(27, 109, 109);
}
.mod-6 i{
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.mod-7{
  background-color: rgba(72,209,151,0.24);
  color: rgba(0,66,0,1);
}
.mod-7:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  text-decoration: none;
  color: rgba(0,66,0,1);
}
.mod-7 i{
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.mod-8{
  background-color: rgba(180, 125, 224, 0.24);
  color:#B148D1;
}
.mod-8:hover {
  text-decoration: none;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  color:#B148D1;
}
.mod-8 i{
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.mod-9{
  background-color: rgba(183,209,72,0.24);
  color: #9DB147;
}
.mod-9:hover {
  text-decoration: none;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  color: #9DB147;
}
.mod-9 i{
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.mod-10{
  background-color: rgba(201, 142, 15, 0.24);
  color: #D16D48;
}

.mod-10:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.mod-10 i{
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.mod-11{
  background-color: rgba(82, 117, 212, 0.24);
  color: rgb(19, 32, 73);
}

.mod-11:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.mod-11 i{
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.mod-12{
  background-color: rgba(117, 238, 163, 0.24);
  color: rgb(15, 73, 54);
}

.mod-12:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.mod-12 i{
  height: auto;
  padding-bottom: 25px;
  display: inline-block;
}
.separator{

  text-align: center;
  background-color: #222222;
  padding: 20px;
  color: #ffffff;
  font-weight: 200;
}
.about-insa{
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #222222;
  color: #ffffff;
  font-weight: 200;
}
.about-inno{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #222222;
  color: #ffffff;
  font-weight: 200;
}
.about-text{
  padding: 2% 10%;
  font-weight: 200;
}
.priv-text{
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
  font-weight: 200;
}
p.priv-text{
  margin-bottom: 0;
}
ul.priv-list{
  padding: 0 12%;
  font-weight: 200;
  font-weight: 200;
}
.col-2p {
  width: 50%;
  float: left;
  background-color: #ffffff;;
  margin-left: auto; 
  margin-right: auto;
}

.col-2p video{
  width: 70%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  vertical-align: top;
  display: inline-block;
}
.col-2p img{
  width: 80%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  vertical-align: top;
  display: inline-block;
}
.c-2{
  position: absolute;
  right: 55px;
  color: #ffffff;
  text-align: right;
  padding-top:0;
}
.col-48 p{
  font-weight: 300;
  font-size: 9pt;
  padding-top: 16px;
}
.row-1{
  padding-top: 6px;
}
.row-2{
  margin-top: -16px;
}
.row-1 p{
  padding-top:0;
}
.row-2 p{
  padding-top:0;
}
.state-header{
  height: 50px;
  position:fixed;
  background-color: rgba(54,54,54,0.2);
  top:0;
  width:100%;
  z-index:100;
}
.state-header a{
  color: #ffffff;
}
.bar-main-color{
  background-color: #0066CC;
}
.bar-1, .bar-2, .bar-3 {
  width: 35px;
  height: 5px;
  margin: 6px 10px;
  transition: 0.4s;
}
.hero{
  height: 100%;
  background-color: #0066CC;
  z-index: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  
}
.center-text{
  text-align: center;
}
.all-text{
  padding-top: 200px;
}

.center-text h1{
  color: #ffffff;
  font-weight: 200;
}
.center-text h5{
  color: #ffffff;
  opacity: 0.6;
}
.center-text p{
  color: #ffffff;
  opacity: 0.8;
  font-weight: 200;
}
.home-btn{
  color: #004200;
  background-color: #A5D148;
}
.custom-button {
  border-radius: 0;
  position: absolute;
  padding: 0.75rem 2.25rem;
}
.home-btn:hover{
  color:#004200;
  background-color:#A5D148;
  border: 3px solid #A5D148;
}
.button-section{
  display: flex;
  margin-top: -25px;
  width:100%;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 600px){
  .hide-mobile{
    display:none;
  }
  .modal-content{
    width: 80%;
  }
  .thin-footer{
    padding: 20px;
    flex-direction:column;
    height: 500px;
  }
  .thin-footer-mod{
    margin-right:0;
    }
  .state-header{
    width: 100%;
    background-color: rgba(54,54,54,0.2);
  }
  .footer-50{
    width: 100%;
    padding-bottom: 20px;
  }
  .footer-50 img{
    width: 30%;
  }
  input[type=text]{
    width: 100%;
    text-align:center;
  }
  button{
  width:100%;
  }
  .mb-5{
    margin-bottom: 0;
  }
  .mt-5{
    margin-top:0;
  }
  .guv-video{
    padding-top: 20px;
    text-align: center;
  }
  .guv-video iframe{
    width: 100%;
    height: 300px;
  }
  .sidenav{
    width: 50%;
  }
  .col-4p{
    width: 55px;
  }
  .col-2p{
    width: 100%;
  }
  body .col-20{
    width: 100%; 
    height: 210px;
  }
  .col-48 {
    display: none;
  }
  .mob-logo{
    display: block;
    width: 80%;
  }
  .all-text{
    padding-top: 80px;
  }
  .hero{
    height: 100%;
  }
  
  .list-column {
    width: 100%;
    text-align: center;
  }
  .list-row {
    text-align: center;
    margin-left: 0;
  }

  .list-element{
    margin-left: auto;
    margin-right: auto;
  }
  .list-title{
    padding-left: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 730px){
  .hide-mobile{
    display:none;
  }
  .modal-content{
    width: 80%;
  }
  .thin-footer{
    padding: 20px;
    flex-direction:column;
    height:500px;
  }
  .thin-footer-mod{
    margin-right:0;
    }
  .col-48 {
    display: none;
  }
  .mob-logo{
    display: block;
    width: 80%;
  }
  body .col-20{
    width: 100%; 
    height: 230px;
  }
  .guv-video iframe{
    width: 90%;
    height: 300px;
  }
  .list-items {
    width: 100%;
  }
  .list-row{
    margin-left:0;
  }
 
}
@media screen and (min-width: 731px) and (max-width: 1200px){
  .list-items {
    width: 25%;
  }
  .thin-footer{
    padding: 20px;
    flex-direction:column;
    height: 500px;
  }
  .thin-footer-mod{
    margin-right:0;
    }
  .list-row{
    margin-left:0;
  }
  .list-title {
    width: 80%;
    text-align:center;
  }
  .title-text br 
    { 
       display: none;   
    }
   body .col-20{
      height: 220px;
    }
    .fa, .fas, .far{
      font-size: 3rem;
    }
}



.footer a:link,
.footer a:focus,
.footer a:visited {
  text-decoration: none;
  color: #ffffff !important;
}
.footer a:hover {
  text-decoration: underline;
}
footer.nj {
  background: #363636;
  padding: 15px 0;
  color: #fff;
  font-size: 0.875rem;
}

footer .nj {
  background-color: #333;
  color: #fff;
}

.wrap {
width:100%;
text-align: center;

}
.opra-lice{
  opacity: 1;
  filter: alpha(opacity=100);
}
.opra-lice a:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.align-center{
  text-align:center;
}