
.hide{
  display: none;
}
label{
  display: block;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.isDisabledTemp {
  color: currentColor;
  opacity: 0.5;
  text-decoration: none;
}
.show{
  display: block;
}
.page-body{
  margin-right: 0;
}
.page-body-rep{
  margin-right: 10%;
}

.mod-container{
  overflow: hidden;
}

.two-vid{
  display: flex;
  width: 50%;
  text-align: center;
  padding: 10px;
}
.two-vid iframe{
width: 100%;
height: 450px;
}
.mod-video{
  text-align: center;
}
.mod-video iframe{
  width: 70%;
  height: 450px;
}
.flex-vid{
  display:flex;
  flex-direction: row;
  width: 100%;
}
.module-hero{
  z-index: 100;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  height: 100%;
}
.col-48 a{
  font-weight: 300;
  font-size: 9pt;
  padding-top: 16px;
  text-decoration: none;
}

.module-hero video{
  width: 70%;
  height: auto;
}

.buttons-two:hover{
  text-decoration: none;
  color:#D1484D;
}
.buttons-row{
  width: 100%;
  padding-top: 25px;
  text-align: center;
  margin-left: 50px;
  
}
.buttons-row:after {
  content: "";
  display: table;
  clear: both;
}

.buttons-two{
  width: 45%;
  float: left;
  height: auto;
  margin-right: 2%;
  font-weight: 600;
}

.prev-btn{
  border-radius: 0;
  padding: 0.75rem 2.25rem;
}

.nxt-btn{
  border-radius: 0;
  padding: 0.75rem 2.25rem;
}
.button-section-mod{
  display: inline-block;
  width:100%;
  justify-content: center;
  text-align: center;
}
.custom-button-mod {
  border-radius: 0;
  padding: 0.75rem 2.25rem;
}
.button-overlap{
  margin-top: -25px;
  z-index: 1000;
  position:absolute;
  width: 100%;
}
.button-wrap{
  margin-top: -25px;
  z-index: 1000;
  position:absolute;
  width: 100%;
}
.button-overlap-2{
  display:flex;
  flex-direction: row;
  padding: 0 20px 0 20px;
}


.interview-section{
  text-align: center;
  background-color: #222222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 200;
}

.padding{
  padding-top: 40px;
}
.interviewee-section{
  margin-bottom: 20px;
  text-align: center;
  background-color: #222222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 200;
}

.reading-section{
  margin-bottom: 20px;
  text-align: center;
  background-color: #222222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 200;
}

.video-section{
  margin-bottom: 20px;
  text-align: center;
  background-color: #222222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 200;
}
h3.video-section.assess {
margin-bottom: 0px;
}

.interview-row{
  width: 100%;
  padding: 25px;
  text-align:center;
  height: auto;
}

.interview-row:after {
  content: "";
  display: table;
  clear: both;
}
p.int-text {
padding-bottom: 1rem;
margin-bottom: 1rem;
}

.interview-row h3{
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
}


.interview-row p{
  text-align: center;
  font-weight: 200;
}
.interview-row .col-2p {
 
  background-color: rgba(0,0,0,0);
}
.interview-row .col-2p iframe{
  float: right;
  margin-right: 60px;
  height: 300px;
  width: 85%;
}


.right{
  padding-right:0px;
}
.int-btn{
  width: auto;
  color: #ffffff;
  border-radius: 0;
  padding: 0.75rem 2.25rem;
  font-weight: 200;
  text-decoration: none;
}
a.int-btn:hover{
  text-decoration: none;
  color: #ffffff;
}

.expert{
  padding-right: 40px;
  padding-left: 40px;

}
.expert p{
  font-weight: 200;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.reading-item{
  border: 2px solid rgba(64,20,22,0.8);
  height: auto;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  
}


.questions{
  
  height: auto;
  margin-top: 40px;
  width: 100%;
}
.questions h3{
  font-weight: 200;
  padding-left: 30px;
}


.assessment-row{
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    text-align:left;
    height: auto;
  }
  .assessment-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .col-2ques {
    width: 100%;
    height: auto;
    float: left;
    text-align: left;
    padding-top: 10px;

  }
  .col-2ques p{
padding-left: 30px;
  }

.r_button{
  border-color:#D1484D;
}
.submit_button{
  border: 0px;
  padding:10px 20px;
}


.answer{
  font-weight: 400;
  color: rgba(64,20,22,1);
}

.video-item{
  border: 2px solid rgba(64,20,22,0.8);
  height: auto;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.annotation{
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
}

.last{
  margin-bottom: 40px;
}
.fixed {
  position: fixed;
  top: 50px;
  right: 0px;
  width: 10%;
  background-color: rgba(36,36,36,1);
  text-align: center;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.fixed-6 {
  position: fixed;
  z-index: 1000;
  top: 50px;
  right: 0px;
  width: 10%;
  background-color: rgba(36,36,36,1);
  text-align: center;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.sticky {
  width: 100%;
  background-color: rgba(36,36,36,1);
  padding-top: 40px;
  padding-bottom: 20px;
}
.sticky:after {
  content: "";
  display: table;
  clear: both;
}
.sticky-6 {
  width: 100%;
  background-color: rgba(36,36,36,1);
  padding-top: 40px;
  padding-bottom: 20px;
}
.sticky-6:after {
  content: "";
  display: table;
  clear: both;
}

.quick-menu{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  float: left;
  height: auto;
  padding-top: 10px;
  text-align: center;
  font-weight: 200;
  font-size: 0.8rem;
  color: #ffffff;
}


.quick-menu-6{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  float: left;
  height: auto;
  padding-top: 10px;
  text-align: center;
  font-weight: 200;
  font-size: 0.8rem;
  color: #ffffff;
}


.vertical{
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  padding-left: 10px;
  padding-right: 10px;
}
.vertical p{
  font-size: 0.6rem;
  font-weight: 400;
  color: #ffffff;
}

.vertical-6{
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  padding-left: 10px;
  padding-right: 10px;
}
.vertical-6 p{
  font-size: 0.6rem;
  font-weight: 400;
  color: #ffffff;
}
.vertical-6 a{
  color: #D1484D;
}
.material-icons.md-light { color: #D1484D; }

@media screen and (min-width: 320px) and (max-width: 600px) {
  .stick-5.sticky {
    padding-top: 120px;
  }
.button-overlap-2{
    display:flex;
    flex-direction: column;
  }
  .button-wrap .button-section-mod{
    padding: 10px 0 10px 0;
  }
  .expert p{
    font-weight: 200;
    text-align: left;
  }
  .flex-vid{
    display:flex;
    flex-direction: column;
    width: 100%;
  }
.two-vid{
  display: flex;
  width: 100%;
  text-align: center;
  padding: 10px;
}
  .mod-video iframe{
    width: 100%;
    height: 200px;
  }
  .interview-row .col-2p iframe{
    height: 200px;
    width: 100%;
    margin-right: 0;
  }
  .questions h3{
  text-align: left;
  padding-left: 0px;
  }
  body .col-4p.side-menu{
    z-index: 400;
  }
  body .col-4p{
    background-color: rgba(0,0,0,0);
  }
  .interview-row .col-2p a{
    text-align: left;
    font-size: 0.72rem;
    
    }
  .center-text p{
    text-align: left;
  }
  .center-text ol{
    text-align: left;
  }
  body .sticky{
    width: 100%;
    font-size: 0.6rem;
    font-weight: 400;
  }
  body .sticky-6{
    width: 100%;
    font-size: 0.6rem;
    font-weight: 400;
  }
  body .quick-menu{
    font-size: 0.6rem;
    font-weight: 400;
  }
  body .quick-menu-6{
    font-size: 0.6rem;
    font-weight: 400;
  }
  body .fixed{
    display: none;
    z-index: 100;
    top:0;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 55px;
  }
  body .fixed-6{
    z-index: 400;
    top:0;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

  }
  body .vertical{
    height: auto;
    width: 20%;
    float: left;
    padding-top: 10px;
  }
  body .vertical p{
    font-size: 0.5rem;
    font-weight: 400;
  }
  body .vertical-6{
    height: auto;
    width: 16%;
    float: left;
    padding-top: 10px;
  }
  body .vertical-6 p{
    font-size: 0.5rem;
    font-weight: 400;
  }
 
  
  body .page-body-rep{
    margin-right:0;
  }

    .module-hero{
      height: 100%;
      padding-left: 5%;
      padding-right: 5%;
    }
    .buttons-two{
      width: 100%;
      margin-bottom: 5%;
    }
    .col-2ques{
      width: 100%;
   
      text-align: left;
    }
    .col-2ques p{
      padding-left: 0px;
    }
    .questions-form{
      padding-left: 20px;
      
    }

    .buttons-row{
      margin-left: 0;
    }
    .module-hero img{
      width: 100%;
      height: auto;
    }
    .right{
      padding-right:0px;
    }
    .interview-row .col-2p img{
      float: none;
      padding-right:0;
      width: 100%;
    }
    .interview-row p{
      text-align: left;
    }
    .interview-row h3{
      text-align: left;
      margin-top: 20px;
    }
    .expert{
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  
  @media screen and  (min-width: 601px) and (max-width: 800px) {
    body .sticky{
      width: 100%;
      font-size: 0.6rem;
      font-weight: 400;
    }
    .stick-5.sticky{
      padding-top: 120px;
    }
 .button-overlap-2{
      display:flex;
      flex-direction: column;
    }
    .button-wrap .button-section-mod{
      margin: 10px 0 10px 0;
    }
    .flex-vid{
      display:flex;
      flex-direction: column;
      width: 100%;
    }
  .two-vid{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
    .mod-video iframe{
      width: 100%;
      height: 400px;
    }
    .interview-row .col-2p iframe{
      height: 400px;
      width: 100%;
      margin-right: 0;
    }
    body .quick-menu{
      font-size: 0.6rem;
      font-weight: 400;
    }
    body .fixed{
      z-index: 100;
      width: 100%;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
    }
    body .vertical{
      height: auto;
      width: 20%;
      float: left;
      padding-top: 10px;
    }
    body .vertical p{
      font-size: 0.5rem;
      font-weight: 400;
    }
    body .page-body-rep{
      margin-right:0;
    }
  
    .buttons-row{
      margin-left: 0px;
    }
    .interview-row .col-2p{
      width: 100%;
    }
    .module-hero{
      height: 100%;
      padding-left: 5%;
      padding-right: 5%;
    }
    .buttons-two{
      width: 100%;
      margin-bottom: 5%;
    }
    .buttons-row{
      margin-left: 0;
    }
    .module-hero img{
      width: 100%;
      height: auto;
    }
    .right{
      padding-right:0px;
    }
    .interview-row .col-2p img{
      float: none;
      padding-right:0;
      width: 100%;
    }
    .interview-row p{
      text-align: center;
    }
    .interview-row h3{
      text-align: center;
      margin-top: 20px;
    }
    .expert{
      padding-right: 0px;
      padding-left: 0px;
    }
  }


  @media screen and (min-width: 801px) and (max-width: 1200px){
    .flex-vid{
      display:flex;
      flex-direction: column;
      width: 100%;
    }

  .two-vid{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
    .interview-row .col-2p img{
      width: 90%;
      margin-right: 30px;
      padding-right:0;
      margin-left: 20px;
    }
    .mod-video iframe{
      width: 100%;
      height: 400px;
    }
    .interview-row .col-2p iframe{
      height: 300px;
      width: 80%;
      margin-right: 60px;
    }
    .right{
      padding-right:0px;
    }
    .video-header.m1 .col-2p.text{
      margin-top: 0px;
      text-align: left;
    }
  }