<section class="nj-banner" aria-label="Official government website">
  <header class="nj-banner__header">
    <div class="grid-container">
      <div class="nj-banner__inner">
        <div class="grid-col-auto">
          <img
            width="32"
            height="32"
            class="nj-banner__header-seal width-5"
            src="/assets/images/nj-seal.svg"
            alt="NJ flag"
          />
        </div>
        <div class="grid-col-fill">
          <a href="https://nj.gov">Official Site of the State of New Jersey</a>
        </div>
        <div class="grid-col-auto">
          <div class="text-white">
            <ul>
              <li>Governor Phil Murphy &bull; Lt. Governor Sheila Oliver</li>
              <li>
                <a
                  id="open-signup"
                  href="#modal-signup"
                  aria-controls="modal-signup"
                  data-open-modal
                  ><svg
                    class="usa-icon bottom-neg-2px margin-right-05"
                    aria-hidden="true"
                    focusable="false"
                    role="img"
                  >
                    <use
                      xlink:href="{{ site.baseurl }}/assets/njwds/dist/img/sprite.svg#mail"
                    ></use></svg
                  >Get Updates</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
