{% if page.figure %}
  {% if page.figure.alt-text == null or page.figure.alt-text == "" %}
    {% assign altText = "Image" %}
  {% else %}
    {% assign altText = page.figure.alt-text %}
  {% endif %}

  {% if page.figure.title %}
<h2>{{ page.figure.title }}</h2>
  {% else %}
<br/>
  {% endif %}

<figure class="figure">
  <div class="position-relative">
    <img src="{{page.figure.url}}" alt="{{altText}}" />
    <div class="position-absolute bottom-0 right-0">
      <div class="margin-y-3">
        <a
          href="#open-larger-image-{{page.figure.id}}"
          class="usa-button"
          aria-controls="open-larger-image-{{page.figure.id}}"
          data-open-modal
        >
          <svg class="usa-icon usa-icon--size-3" focusable="false" role="img">
            <use xlink:href="/assets/njwds/dist/img/sprite.svg#zoom_in"></use>
          </svg>
        </a>
        <div
          class="usa-modal usa-modal--xl"
          id="open-larger-image-{{page.figure.id}}"
          aria-labelledby="modal-2-heading"
          aria-describedby="modal-2-description"
        >
          <div class="usa-modal__content">
            <div class="usa-modal__main">
              <img
                src="{{page.figure.url}}"
                alt="{{altText}}"
                class="modal__image"
              />
            </div>
            <button
              type="button"
              class="usa-button usa-modal__close"
              aria-label="Close this window"
              data-close-modal
            >
              <svg
                class="usa-icon"
                aria-hidden="true"
                focusable="false"
                role="img"
              >
                <use xlink:href="/assets/njwds/dist/img/sprite.svg#close"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <figcaption class="font-mono-xs text-italic padding-top-1">
    {{page.figure.caption}}
  </figcaption>
</figure>
{% endif %}
