<footer class="usa-footer">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <nav class="usa-footer__nav" aria-label="Footer navigation">
      <ul class="grid-row grid-gap">
        {% for item in site.data.menu %}
        <li
          class="
            mobile-lg:grid-col-4
            desktop:grid-col-auto
            usa-footer__primary-content
          "
        >
          <a
            class="
              usa-footer__primary-link
              {%
              if
              item.link
              ==
              page.url
              %}text-primary-darker{%
              endif
              %}
            "
            href="{{item.link}}"
            >{{item.text}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div
          class="
            usa-footer__logo
            grid-row
            mobile-lg:grid-col-6 mobile-lg:grid-gap-2
          "
        >
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading">{{ site.title }}</h3>
            <p>State of New Jersey</p>
            <p>
              <a href="mailto:team@innovation.nj.gov">team@innovation.nj.gov</a>
            </p>
            <address class="usa-footer__address">
              30 Livingston Avenue<br />
              New Brunswick, NJ 08901
            </address>
            <p>
              <a class="text-base" href="/tos/">Privacy, Terms & License</a>
            </p>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <div class="usa-footer__social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-link-github"
                rel="noopener"
                target="_blank"
                href="https://github.com/newjersey"
              >
                <svg
                  class="usa-icon width-full height-full padding-1"
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                >
                  <use xlink:href="/assets/njwds/img/sprite.svg#github"></use>
                </svg>
                <span>Github</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-social-link--facebook"
                rel="noopener"
                target="_blank"
                href="https://www.facebook.com/NJGov/"
              >
                <span>Facebook</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-social-link--twitter"
                rel="noopener"
                target="_blank"
                href="https://twitter.com/njgov"
              >
                <span>Twitter</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-social-link--linkedin"
                rel="noopener"
                target="_blank"
                href="https://www.linkedin.com/company/state-of-new-jersey/"
              >
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 510 510"
                  style="enable-background: new 0 0 510 510"
                  xml:space="preserve"
                  class="usa-icon width-full height-full padding-105"
                  aria-hidden="true"
                  focusable="false"
                  role="img"
                >
                  <g>
                    <g id="post-linkedin">
                      <path
                        d="M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z
                       M153,433.5H76.5V204H153V433.5z M114.75,160.65c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9
                      S140.25,160.65,114.75,160.65z M433.5,433.5H357V298.35c0-20.399-17.85-38.25-38.25-38.25s-38.25,17.851-38.25,38.25V433.5H204
                      V204h76.5v30.6c12.75-20.4,40.8-35.7,63.75-35.7c48.45,0,89.25,40.8,89.25,89.25V433.5z"
                      />
                    </g>
                  </g>
                </svg>

                <span>LinkedIn</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-social-link--instagram"
                rel="noopener"
                target="_blank"
                href="https://www.instagram.com/njgov/"
              >
                <span>Instagram</span>
              </a>
            </div>
          </div>
          <div class="usa-sign-up float-right grid-gap-1">
            <p>
              <a
                href="#modal-signup"
                aria-controls="modal-signup"
                data-open-modal
                ><svg
                  class="usa-icon bottom-neg-2px margin-right-05"
                  aria-hidden="true"
                  role="img"
                >
                  <use
                    xlink:href="/assets/njwds/img/sprite.svg#mail"
                  ></use></svg
                >Sign up for updates</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
