<footer class="usa-footer">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  
  <feedback-widget contact-link="mailto:team@innovation.nj.gov"></feedback-widget>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div
          class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2"
        >
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading">{{ site.title }}</h3>
            <p>State of New Jersey</p>
            <p>
              <a href="mailto:team@innovation.nj.gov">team@innovation.nj.gov</a>
            </p>
            <address class="usa-footer__address">
              30 Livingston Avenue<br />
              New Brunswick, NJ 08901
            </address>
            <p>
              <a class="text-base" href="/tos/">Privacy, Terms & License</a>
            </p>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <div class="usa-footer__social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a
                class="usa-social-link"
                rel="noopener"
                target="_blank"
                href="https://github.com/newjersey"
              >
                <img
                  class="usa-social-link__icon"
                  src="/assets/njwds/dist/img/usa-icons/github.svg"
                  alt="GitHub"
                />
              </a>
            </div>
            <div class="grid-col-auto">
              <a
                class="usa-social-link"
                rel="noopener"
                target="_blank"
                href="https://www.facebook.com/NJGov/"
              >
                <img
                  class="usa-social-link__icon"
                  src="/assets/njwds/dist/img/usa-icons/facebook.svg"
                  alt="Facebook"
                />
              </a>
            </div>
            <div class="grid-col-auto">
              <a
                class="usa-social-link"
                rel="noopener"
                target="_blank"
                href="https://twitter.com/njgov"
              >
                <img
                  class="usa-social-link__icon"
                  src="/assets/njwds/dist/img/usa-icons/twitter.svg"
                  alt="Twitter"
                />
              </a>
            </div>
            <div class="grid-col-auto">
              <a
                class="usa-social-link usa-social-link--linkedin"
                rel="noopener"
                target="_blank"
                href="https://www.linkedin.com/company/state-of-new-jersey/"
              >
                <img
                  class="usa-social-link__icon"
                  src="/assets/njwds/dist/img/usa-icons/linkedin.svg"
                  alt="Linkedin"
                />
              </a>
            </div>
            <div class="grid-col-auto">
              <a
                class="usa-social-link"
                rel="noopener"
                target="_blank"
                href="https://www.instagram.com/njgov/"
              >
                <img
                  class="usa-social-link__icon"
                  src="/assets/njwds/dist/img/usa-icons/instagram.svg"
                  alt="Instagram"
                />
              </a>
            </div>
          </div>
          <div class="usa-sign-up float-right grid-gap-1">
            <p>
              <a
                href="#modal-signup"
                aria-controls="modal-signup"
                data-open-modal
                ><svg
                  class="usa-icon bottom-neg-2px margin-right-05"
                  aria-hidden="true"
                  role="img"
                >
                  <use
                    xlink:href="/assets/njwds/dist/img/sprite.svg#mail"
                  ></use></svg
                >Sign up for updates</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
