<div
  class="usa-modal"
  id="modal-signup"
  aria-labelledby="modal-1-heading"
  aria-describedby="modal-1-description"
>
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="modal-1-heading">
        Sign up for updates from<br />
        the Office of Innovation
      </h2>
      <div class="usa-prose">{% include signup.html %}</div>
    </div>
    <button
      class="usa-button usa-modal__close"
      aria-label="Close this window"
      data-close-modal
    >
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/assets/njwds/img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    var shown_modal = localStorage.getItem("shown_modal");
    if (!shown_modal) {
      document.getElementById("open-signup").click();
      localStorage.setItem("shown_modal", "true");
    }
  });
</script>
