#logo,
h1 {
  display: none;
}
h1.app-title {
  display: block;
}

#main,
#wrapper {
  padding: 0 !important;
  max-width: none;
}

.opening a {
  color: rgb(27, 139, 207);
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

br + br {
  display: none;
}
