/* Cards */
@media (min-width: 40em) {
  .tablet\:grid-col-6.usa-card.usa-card--flag .usa-card__media {
    width: 10rem;
  }

  .tablet\:grid-col-6.usa-card--flag .usa-card__body,
  .tablet\:grid-col-6.usa-card--flag .usa-card__footer,
  .tablet\:grid-col-6.usa-card--flag .usa-card__header {
    margin-left: 10rem;
  }
}

.usa-card__img--square {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: top center;
}

.usa-card__img--square-cover {
  background-size: cover;
}

/* Links */

a.text-primary-darker {
  color: #243413;
}

.usa-section--dark h2 {
  color: white;
}

.usa-graphic-list__heading a {
  text-decoration: none;
}

.usa-graphic-list__heading a:hover,
.usa-graphic-list__heading a:focus {
  text-decoration: underline;
}

.usa-button .usa-link--external:after {
  background-color: white;
}

/* SVG */
path.white-fill {
  fill: white;
}

.st0 {
  fill: #1b8bcf;
}

svg {
  background: transparent;
}

/* Feedback widget overrides */
.feedback-container {
  background-color: #fbfcfd !important;
}

.usa-modal--xl {
  max-width: 200rem;
  width: 100%;
  max-height: 200rem;
}

/* Ensure the image fits within the modal */
.modal__image {
  width: 100%;
  height: auto;
}

/* Playbook hero image specific CSS */
.playbook-hero-text {
  padding: 30px;
  background-color: #1c254f;
  font-size: 4.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playbook-hero-text.ce-portfolio {
  padding: 0.75rem;
  font-size: 3rem;
  text-align: center;
  line-height: 1.05;
  transform: translate(-50%, -95%);
}

@media (max-width: 1023px) {
  .playbook-hero-text {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 8vw;
  }

  .playbook-hero-text.ce-portfolio {
    padding: 0.5rem;
    font-size: 2rem;
    transform: none;
  }
}

@media (min-width: 1921px) {
  .playbook-hero-text {
    font-size: 5.5em;
  }

  .playbook-hero-text.ce-portfolio {
    padding: 1.5rem;
    font-size: 3rem;
  }
}

/* Figure (inline images) */
.figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}
