---
title: Unemployment Insurance Identity Verification Modernization
initiative: Resident Experience Initiative
---

The Office of Innovation, in partnership with the NJ State Department of Labor, is streamlining and clarifying the Unemployment Insurance system’s identity verification process, which had previously been a top cause of delays in processing claims. This ongoing work is part of the Resident Experience Initiative.

### Challenge

After submitting an Unemployment Insurance application, residents need to verify their identity. However the process required going to a third-party website, which was confusing and often prevented applications from moving forward and created delays in receiving benefits. Problems with the identity verification process were the top reason residents contacted the Unemployment Insurance call center, driving up wait times and occupying a significant portion of agents’ time, further compounding long wait times.

### Innovation In Action

OOI and its partners worked with residents and frontline agency staff to uncover the biggest pain points in the identity verification process, and then iteratively developed and tested changes to alleviate those challenges. Improvements included embedding clearer language and nudges at critical points throughout the application process, and moving the identity verification tool to a State-hosted site to overcome trust issues. This nuanced approach to problem solving underscores the ability to make significant improvements without having to spend years and millions of dollars to upgrade legacy back-end systems. 

### Impact + Metrics

- As of September 2024, improvements to the identity verification process have led to a 70% decrease in support calls about identity verification and a nearly 20% increase in residents who start verification immediately after submitting their application. 
- The new identity verification flow, released in late fall 2023, has saved the Department of Labor over $585,000 in operating costs as of September 2024, and annual savings are projected to be $780,000 for 2024.
- OOI built testing and analytics infrastructure into the system to provide valuable data and insights on how to make future updates. 

### Status

-   The Unemployment Insurance identity verification process is regularly updated using agile development, which continuously introduces improvements. 
    
### Partners

-   NJ State Department of Labor

*Last updated on 9/26/24*
