/* NJWDS Typography */

.usa-list,
.usa-prose > ol,
.usa-prose > ul {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.6;
  padding-left: 3ch;
}
.usa-list li:last-child,
.usa-list:last-child,
.usa-prose > ol li:last-child,
.usa-prose > ol:last-child,
.usa-prose > ul li:last-child,
.usa-prose > ul:last-child {
  margin-bottom: 0;
}
.usa-list ol,
.usa-list ul,
.usa-prose > ol ol,
.usa-prose > ol ul,
.usa-prose > ul ol,
.usa-prose > ul ul {
  margin-top: 0.25em;
}
.usa-list li,
.usa-prose > ol li,
.usa-prose > ul li {
  margin-bottom: 0.25em;
  max-width: 68ex;
}
.usa-prose > table,
.usa-prose > table caption {
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  text-align: left;
}
.usa-prose > table {
  font-size: 1rem;
  line-height: 1.6;
  border-collapse: collapse;
  border-spacing: 0;
  color: #1b1b1b;
  margin: 1.25rem 0;
}
.usa-prose > table thead th {
  background-clip: padding-box;
  font-weight: 700;
  line-height: 1.4;
}
.usa-prose > table thead td,
.usa-prose > table thead th {
  background-color: #e6e6e6;
  color: #1b1b1b;
}
.usa-prose > table tbody th {
  text-align: left;
}
.usa-prose > table td,
.usa-prose > table th {
  background-color: #fff;
  border: 1px solid #1b1b1b;
  font-weight: 400;
  padding: 0.5rem 1rem;
}
.usa-prose > table caption {
  font-size: 0.94rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.usa-prose > table th[data-sortable] {
  padding-right: 2.5rem;
  position: relative;
}
.usa-prose > table th[data-sortable]:after {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  bottom: 0;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: 400;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background-position: center center;
  background-size: 1.5rem;
  color: #757575;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 0.25rem;
  text-align: center;
  text-decoration: none;
  top: 50%;
  transform: translate(0, -50%);
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button:visited,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button:visited {
  color: #538200;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button:hover,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button:hover {
  color: #466c04;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button:active,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button:active {
  color: #243413;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button:focus,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button:focus {
  outline: 0.25rem solid #538200;
  outline-offset: 0;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button.usa-button--active,
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button.usa-button--disabled,
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button.usa-button--hover,
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button:active,
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button:disabled,
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button:hover,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button.usa-button--active,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button.usa-button--disabled,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button.usa-button--hover,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button:active,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button:disabled,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button:hover {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button.usa-button--disabled,
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button:disabled,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button.usa-button--disabled,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button:disabled {
  color: #c9c9c9;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button.usa-button--hover,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button.usa-button--hover {
  color: #466c04;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button.usa-button--active,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button.usa-button--active {
  color: #243413;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button
  .usa-icon,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button
  .usa-icon {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button
  .usa-icon
  > g,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button
  .usa-icon
  > g {
  fill: transparent;
}
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button
  .usa-icon
  > g.unsorted,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button
  .usa-icon
  > g.unsorted {
  fill: #757575;
}
.usa-prose
  > .usa-table--borderless
  thead
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button:hover
  .usa-icon
  > g.unsorted,
.usa-prose
  > table
  th[data-sortable]:not([aria-sort])
  .usa-table__header__button:hover
  .usa-icon
  > g.unsorted,
.usa-prose
  > table
  th[data-sortable][aria-sort="none"]
  .usa-table__header__button:hover
  .usa-icon
  > g.unsorted {
  fill: #1b1b1b;
}
.usa-prose > table th[data-sortable][aria-sort="ascending"],
.usa-prose > table th[data-sortable][aria-sort="descending"] {
  background-color: #aacdec;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button,
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: 400;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background-position: center center;
  background-size: 1.5rem;
  color: #757575;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 0.25rem;
  text-align: center;
  text-decoration: none;
  top: 50%;
  transform: translate(0, -50%);
}
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button:visited {
  color: #538200;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button:hover {
  color: #466c04;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button:active {
  color: #243413;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button:focus {
  outline: 0.25rem solid #538200;
  outline-offset: 0;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button.usa-button--active,
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button.usa-button--disabled,
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button.usa-button--hover,
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button:active,
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button:disabled,
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button:hover {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button.usa-button--disabled,
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button:disabled {
  color: #c9c9c9;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button.usa-button--hover {
  color: #466c04;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button.usa-button--active {
  color: #243413;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button
  .usa-icon {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button
  .usa-icon
  > g,
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button
  .usa-icon
  > g {
  fill: transparent;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button
  .usa-icon
  > g.ascending,
.usa-prose
  > table
  th[data-sortable][aria-sort="descending"]
  .usa-table__header__button
  .usa-icon
  > g.descending {
  fill: #1b1b1b;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button:visited {
  color: #538200;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button:hover {
  color: #466c04;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button:active {
  color: #243413;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button:focus {
  outline: 0.25rem solid #538200;
  outline-offset: 0;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button.usa-button--active,
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button.usa-button--disabled,
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button.usa-button--hover,
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button:active,
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button:disabled,
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button:hover {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button.usa-button--disabled,
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button:disabled {
  color: #c9c9c9;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button.usa-button--hover {
  color: #466c04;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button.usa-button--active {
  color: #243413;
}
.usa-prose
  > table
  th[data-sortable][aria-sort="ascending"]
  .usa-table__header__button
  .usa-icon {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}
.usa-prose > table thead th[aria-sort] {
  background-color: #aacdec;
  color: #1b1b1b;
}
.usa-prose > table td[data-sort-active],
.usa-prose > table th[data-sort-active] {
  background-color: #d9e8f6;
  color: #1b1b1b;
}
.usa-prose > .usa-table--borderless thead th {
  background-color: transparent;
  border-top: 0;
  color: #1b1b1b;
}
.usa-prose > .usa-table--borderless thead th[aria-sort] {
  color: #1b1b1b;
}
.usa-prose > .usa-table--borderless td,
.usa-prose > .usa-table--borderless th {
  border-left: 0;
  border-right: 0;
}
.usa-prose > .usa-table--compact td,
.usa-prose > .usa-table--compact th {
  padding: 0.25rem 0.75rem;
}
.usa-prose > .usa-table--striped tbody tr:nth-child(odd) td,
.usa-prose > .usa-table--striped tbody tr:nth-child(odd) th {
  background-color: #f0f0f0;
  color: #1b1b1b;
}
.usa-prose > .usa-table--striped tbody tr:nth-child(odd) td[data-sort-active],
.usa-prose > .usa-table--striped tbody tr:nth-child(odd) th[data-sort-active] {
  background-color: #c3ebfa;
  color: #1b1b1b;
}
.usa-prose > .width-mobile .usa-table--stacked thead,
.usa-prose > .width-mobile .usa-table--stacked-header thead {
  display: none;
}
.usa-prose > .width-mobile .usa-table--stacked td,
.usa-prose > .width-mobile .usa-table--stacked th,
.usa-prose > .width-mobile .usa-table--stacked-header td,
.usa-prose > .width-mobile .usa-table--stacked-header th {
  border-bottom-width: 0;
  display: block;
  width: 100%;
}
.usa-prose > .width-mobile .usa-table--stacked tr,
.usa-prose > .width-mobile .usa-table--stacked-header tr {
  border-bottom: 0.25rem solid #1b1b1b;
  border-top-width: 0;
  display: block;
  width: 100%;
}
.usa-prose > .width-mobile .usa-table--stacked tr td:first-child,
.usa-prose > .width-mobile .usa-table--stacked tr th:first-child {
  border-top-width: 0;
}
.usa-prose > .width-mobile .usa-table--stacked tr:nth-child(odd) td,
.usa-prose > .width-mobile .usa-table--stacked tr:nth-child(odd) th {
  background-color: inherit;
}
.usa-prose > .width-mobile .usa-table--stacked tr:first-child td:first-child,
.usa-prose > .width-mobile .usa-table--stacked tr:first-child th:first-child,
.usa-prose
  > .width-mobile
  .usa-table--stacked-header
  tr:first-child
  td:first-child,
.usa-prose
  > .width-mobile
  .usa-table--stacked-header
  tr:first-child
  th:first-child {
  border-top: 0.25rem solid #1b1b1b;
}
.usa-prose > .width-mobile .usa-table--stacked td[data-label],
.usa-prose > .width-mobile .usa-table--stacked th[data-label],
.usa-prose > .width-mobile .usa-table--stacked-header td[data-label],
.usa-prose > .width-mobile .usa-table--stacked-header th[data-label] {
  padding-bottom: 0.75rem;
}
.usa-prose > .width-mobile .usa-table--stacked td[data-label]:before,
.usa-prose > .width-mobile .usa-table--stacked th[data-label]:before {
  content: attr(data-label);
  display: block;
  font-weight: 700;
  margin: -0.5rem -1rem 0;
  padding: 0.75rem 1rem 0.25rem;
}
.usa-prose > .width-mobile .usa-table--stacked-header tr td:first-child,
.usa-prose > .width-mobile .usa-table--stacked-header tr th:first-child {
  border-top-width: 0;
}
.usa-prose > .width-mobile .usa-table--stacked-header tr:nth-child(odd) td,
.usa-prose > .width-mobile .usa-table--stacked-header tr:nth-child(odd) th {
  background-color: inherit;
}
.usa-prose > .width-mobile .usa-table--stacked-header td[data-label]:before,
.usa-prose > .width-mobile .usa-table--stacked-header th[data-label]:before {
  content: attr(data-label);
  display: block;
  font-weight: 700;
  margin: -0.5rem -1rem 0;
  padding: 0.75rem 1rem 0.25rem;
}
.usa-prose > .width-mobile .usa-table--stacked-header tr td:first-child,
.usa-prose > .width-mobile .usa-table--stacked-header tr th:first-child {
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 1.13rem;
  line-height: 1.2;
  background-color: #e6e6e6;
  color: #1b1b1b;
  font-weight: 700;
  padding: 0.75rem 1rem;
}
.usa-prose > .width-mobile .usa-table--stacked-header tr td:first-child:before,
.usa-prose > .width-mobile .usa-table--stacked-header tr th:first-child:before {
  display: none;
}
.usa-prose > .usa-table-container--scrollable {
  margin: 1.25rem 0;
  overflow-y: hidden;
}
.usa-prose > .usa-table-container--scrollable .usa-table {
  margin: 0;
}
.usa-prose > .usa-table-container--scrollable td {
  white-space: nowrap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 100%;
}
body {
  margin: 0;
}
details,
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  color: #538200;
  text-decoration: underline;
}
abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"],
legend {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
@font-face {
  font-family: Roboto Mono Web;
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-300.woff2) format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-300.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-300.ttf) format("truetype");
}
@font-face {
  font-family: Roboto Mono Web;
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-regular.woff2)
      format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-regular.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-regular.ttf)
      format("truetype");
}
@font-face {
  font-family: Roboto Mono Web;
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-700.woff2) format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-700.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-700.ttf) format("truetype");
}
@font-face {
  font-family: Roboto Mono Web;
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-300italic.woff2)
      format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-300italic.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-300italic.ttf)
      format("truetype");
}
@font-face {
  font-family: Roboto Mono Web;
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-italic.woff2)
      format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-italic.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-italic.ttf) format("truetype");
}
@font-face {
  font-family: Roboto Mono Web;
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-700italic.woff2)
      format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-700italic.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/roboto-mono/roboto-mono-v5-latin-700italic.ttf)
      format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Light.woff2) format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Light.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Regular.woff2) format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Regular.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Bold.woff2) format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Bold.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-LightItalic.woff2) format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-LightItalic.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Italic.woff2) format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Italic.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-Italic.ttf) format("truetype");
}
@font-face {
  font-family: Public Sans Web;
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-BoldItalic.woff2) format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-BoldItalic.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/public-sans/PublicSans-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: Merriweather Web;
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Light.woff2) format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Light.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Light.ttf) format("truetype");
}
@font-face {
  font-family: Merriweather Web;
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Regular.woff2)
      format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Regular.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Merriweather Web;
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Bold.woff2) format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Bold.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Merriweather Web;
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-LightItalic.woff2)
      format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-LightItalic.woff)
      format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-LightItalic.ttf)
      format("truetype");
}
@font-face {
  font-family: Merriweather Web;
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Italic.woff2)
      format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Italic.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-Italic.ttf) format("truetype");
}
@font-face {
  font-family: Merriweather Web;
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-BoldItalic.woff2)
      format("woff2"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-BoldItalic.woff) format("woff"),
    url(https://innovation.nj.gov/assets/njwds/fonts/merriweather/Latin-Merriweather-BoldItalic.ttf)
      format("truetype");
}
button:not([disabled]):focus,
input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus {
  outline: 0.25rem solid #538200;
  outline-offset: 0;
}
[contentEditable="true"]:focus,
[href]:focus,
[tabindex]:focus,
iframe:focus {
  outline: 0.25rem solid #538200;
  outline-offset: 0;
}
.usa-focus {
  outline: 0.25rem solid #538200;
  outline-offset: 0;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.usa-link:visited,
a:visited {
  color: #538200;
}
.usa-link:hover,
a:hover {
  color: #466c04;
}
.usa-link:active,
a:active {
  color: #243413;
}
.usa-link:focus,
a:focus {
  outline: 0.25rem solid #538200;
  outline-offset: 0;
}
address,
cite,
dfn,
var {
  font-style: normal;
}
.usa-link {
  color: #538200;
  text-decoration: underline;
}
.usa-link--external::after {
  background-image: url(https://innovation.nj.gov/assets/njwds/img/usa-icons-bg/launch--blue-60v.svg);
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline;
  margin-left: 2px;
  padding-left: 0.65em;
}
.usa-link--external:hover::after {
  background-image: url(https://innovation.nj.gov/assets/njwds/img/usa-icons-bg/launch--blue-70v.svg),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}
.usa-link--external.usa-link--alt::after {
  background-image: url(https://innovation.nj.gov/assets/njwds/img/usa-icons-bg/launch--gray-5.svg);
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline;
  margin-left: 2px;
  padding-left: 0.65em;
}
.usa-link--external.usa-link--alt:hover::after {
  background-image: url(https://innovation.nj.gov/assets/njwds/img/usa-icons-bg/launch--white.svg),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}
.usa-list--unstyled,
.usa-prose .usa-list--unstyled {
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}
.usa-list--unstyled > li,
.usa-prose .usa-list--unstyled > li {
  margin-bottom: 0;
  max-width: unset;
}
.usa-prose,
.usa-prose > h1,
.usa-prose > h2,
.usa-prose > h3,
.usa-prose > h4,
.usa-prose > h5,
.usa-prose > h6 {
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 1rem;
  line-height: 1.6;
}
.usa-prose > h1,
.usa-prose > h2,
.usa-prose > h3,
.usa-prose > h4,
.usa-prose > h5,
.usa-prose > h6 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}
.usa-prose > h2,
.usa-prose > h3,
.usa-prose > h4,
.usa-prose > h5,
.usa-prose > h6 {
  font-size: 2rem;
}
.usa-prose > h3,
.usa-prose > h4,
.usa-prose > h5,
.usa-prose > h6 {
  font-size: 1.38rem;
}
.usa-prose > h4,
.usa-prose > h5,
.usa-prose > h6 {
  font-size: 1.13rem;
}
.usa-prose > h5,
.usa-prose > h6 {
  font-size: 0.94rem;
}
.usa-prose > h6 {
  font-size: 0.81rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
@media all and (max-width: 29.99em) {
  .usa-prose > .usa-table--stacked thead,
  .usa-prose > .usa-table--stacked-header thead {
    display: none;
  }
  .usa-prose > .usa-table--stacked td,
  .usa-prose > .usa-table--stacked th,
  .usa-prose > .usa-table--stacked-header td,
  .usa-prose > .usa-table--stacked-header th {
    border-bottom-width: 0;
    display: block;
    width: 100%;
  }
  .usa-prose > .usa-table--stacked tr,
  .usa-prose > .usa-table--stacked-header tr {
    border-bottom: 0.25rem solid #1b1b1b;
    border-top-width: 0;
    display: block;
    width: 100%;
  }
  .usa-prose > .usa-table--stacked tr td:first-child,
  .usa-prose > .usa-table--stacked tr th:first-child {
    border-top-width: 0;
  }
  .usa-prose > .usa-table--stacked tr:nth-child(odd) td,
  .usa-prose > .usa-table--stacked tr:nth-child(odd) th {
    background-color: inherit;
  }
  .usa-prose > .usa-table--stacked tr:first-child td:first-child,
  .usa-prose > .usa-table--stacked tr:first-child th:first-child,
  .usa-prose > .usa-table--stacked-header tr:first-child td:first-child,
  .usa-prose > .usa-table--stacked-header tr:first-child th:first-child {
    border-top: 0.25rem solid #1b1b1b;
  }
  .usa-prose > .usa-table--stacked td[data-label],
  .usa-prose > .usa-table--stacked th[data-label],
  .usa-prose > .usa-table--stacked-header td[data-label],
  .usa-prose > .usa-table--stacked-header th[data-label] {
    padding-bottom: 0.75rem;
  }
  .usa-prose > .usa-table--stacked td[data-label]:before,
  .usa-prose > .usa-table--stacked th[data-label]:before {
    content: attr(data-label);
    display: block;
    font-weight: 700;
    margin: -0.5rem -1rem 0;
    padding: 0.75rem 1rem 0.25rem;
  }
  .usa-prose > .usa-table--stacked-header tr td:first-child,
  .usa-prose > .usa-table--stacked-header tr th:first-child {
    border-top-width: 0;
  }
  .usa-prose > .usa-table--stacked-header tr:nth-child(odd) td,
  .usa-prose > .usa-table--stacked-header tr:nth-child(odd) th {
    background-color: inherit;
  }
  .usa-prose > .usa-table--stacked-header td[data-label]:before,
  .usa-prose > .usa-table--stacked-header th[data-label]:before {
    content: attr(data-label);
    display: block;
    font-weight: 700;
    margin: -0.5rem -1rem 0;
    padding: 0.75rem 1rem 0.25rem;
  }
  .usa-prose > .usa-table--stacked-header tr td:first-child,
  .usa-prose > .usa-table--stacked-header tr th:first-child {
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol;
    font-size: 1.13rem;
    line-height: 1.2;
    background-color: #e6e6e6;
    color: #1b1b1b;
    font-weight: 700;
    padding: 0.75rem 1rem;
  }
  .usa-prose > .usa-table--stacked-header tr td:first-child:before,
  .usa-prose > .usa-table--stacked-header tr th:first-child:before {
    display: none;
  }
}
.usa-paragraph {
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 68ex;
}
* + .usa-paragraph,
.usa-paragraph + * {
  margin-top: 1em;
}
.usa-content ol:not(.usa-accordion):not(.usa-accordion--bordered),
.usa-content p,
.usa-content ul:not(.usa-accordion):not(.usa-accordion--bordered) {
  max-width: 68ex;
}
.usa-display {
  margin-top: 0;
  clear: both;
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 1.38rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0;
}
* + .usa-display {
  margin-top: 1.5em;
}
.usa-display + * {
  margin-top: 1em;
}
@media all and (min-width: 30em) {
  .usa-display {
    margin-bottom: 0;
    margin-top: 0;
    clear: both;
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
  }
  * + .usa-display {
    margin-top: 1.5em;
  }
  .usa-display + * {
    margin-top: 1em;
  }
}
@media all and (min-width: 40em) {
  .usa-display {
    margin-bottom: 0;
    margin-top: 0;
    clear: both;
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
  }
  * + .usa-display {
    margin-top: 1.5em;
  }
  .usa-display + * {
    margin-top: 1em;
  }
}
.usa-intro {
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 1.38rem;
  line-height: 1.8;
  font-weight: 400;
  max-width: 88ex;
}
.usa-dark-background {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #2e2e2e;
}
.usa-dark-background p,
.usa-dark-background span {
  color: #fff;
}
.usa-dark-background a,
.usa-dark-background a:visited {
  color: #e6e6e6;
}
.usa-dark-background a:hover {
  color: #f0f0f0;
}
.usa-prose > p,
p {
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 68ex;
}
* + p,
.usa-prose > * + p,
.usa-prose > h1 + *,
.usa-prose > h2 + *,
.usa-prose > h3 + *,
.usa-prose > h4 + *,
.usa-prose > h5 + *,
.usa-prose > h6 + *,
.usa-prose > p + *,
p + * {
  margin-top: 1em;
}
.usa-prose > h1,
.usa-prose > h2,
.usa-prose > h3,
.usa-prose > h4,
.usa-prose > h5,
.usa-prose > h6 {
  margin-bottom: 0;
  margin-top: 0;
  clear: both;
}
.usa-prose > * + h1,
.usa-prose > * + h2,
.usa-prose > * + h3,
.usa-prose > * + h4,
.usa-prose > * + h5,
.usa-prose > * + h6 {
  margin-top: 1.5em;
}
.nj-banner {
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  background-color: #1b1b1b;
  font-size: 0.88rem;
  line-height: 1;
  min-height: 3rem;
  position: relative;
}
.nj-banner__header {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.nj-banner__header,
.nj-banner__header a {
  color: #fff;
  text-decoration: none;
}
.nj-banner__header a:hover {
  text-decoration: underline;
}
.nj-banner__header li {
  display: none;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right-width: 1px;
  border-right-style: solid;
}
@media all and (min-width: 40em) {
  .nj-banner__header li {
    display: inline;
  }
}
.nj-banner__header li:last-child {
  display: inline;
  margin-right: 0;
  padding-right: 0;
  border-right-width: 0;
  border-right-style: solid;
}
.nj-banner__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 0;
}
.nj-banner__header-seal {
  padding-right: 0.5rem;
}
.usa-hero__callout,
.usa-section--dark {
  background-color: #162e51;
}
.usa-intro,
.usa-prose > h1 {
  letter-spacing: -0.4px;
}
.usa-prose a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Custom Greenhouse CSS */
html,
body {
  font-size: 1rem;
}
#logo,
h1 {
  display: none;
}
h1.app-title {
  display: block;
}

li {
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 68ex;
}

#main,
#wrapper,
#app_body {
  padding: 0 !important;
  max-width: none;
}

.level-0 > br,
br + br {
  display: none;
}
