---
layout: default
---

<section class="usa-section">
  {% if page.hero %}
  <section
  class="usa-hero margin-bottom-5"
  style="background-image: none"
  
>
  <div class="position-relative">
    <div class="position-relative display-flex flex-align-center flex-justify-center">
      <img class="" src="{{page.hero.image}}" alt="{{page.hero.alt-text}}"/>
    </div>
  </div>
  
</section>
  {% endif %}

  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% if page.menu %}
      <div class="usa-layout-docs__sidenav order-2 desktop:order-first desktop:grid-col-3">
        {% include menu.html menu=page.menu %}
      </div>
      {% endif %}

      <main
        class="{% if page.menu %} usa-layout-docs__main desktop:grid-col-9 usa-layout-docs {% else %} width-full {% endif %}"
        id="main-content"
      >
        {% if page.title %}
        <h1>
          {% if page.title-prefix %} {{ page.title-prefix }} {% endif %} {{
          page.title }}
        </h1>
        {% endif %} {{ content }}
      </main>
    </div>
  </div>
</section>
