---
layout: default
---

<main id="main-content">
  {% if page.hero %}
  <section
    class="usa-hero padding-top-15 padding-bottom-15"
    aria-label="Introduction"
    style="background-image: url({{page.hero.image}});"
  >
    <div class="grid-container padding-top-10">
      {% if page.hero.title %}
      <h1
        class="maxw-tablet"
        style="
          vertical-align: middle;
          text-align: center;
          margin: 0 auto;
          padding: 30px;
          background-color: #1c254f;
          font-size: 3em;
        "
      >
        {{page.hero.title}}
      </h1>
      {% endif %}
    </div>
  </section>
  {% endif %}

  <section class="usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        {% if page.menu %}
        <div class="usa-layout-docs__sidenav desktop:grid-col-3">
          {% include menu.html menu=page.menu %}
        </div>
        {% endif %}

        <main
          class="{% if page.menu %} usa-layout-docs__main desktop:grid-col-9 usa-layout-docs {% else %} width-full {% endif %} usa-prose"
          id="main-content"
        >
          <h1>
            {% if page.title-prefix %} {{ page.title-prefix }} {% endif %} {{
            page.title }}
          </h1>
          {% if page.title-image %}
          <img src="{{page.title-image.image}}" alt="" />

          {% endif %} 
          
          {{ content }} 
          
          {% if page.next-page or page.previous-page %}
          <div class="grid-container padding-top-4 padding-x-0">
            <div class="grid-row">
              {% if page.previous-page %}
                <a href="{{ page.previous-page.link }}" class="padding-right-1">
                  <button class="usa-button usa-button--outline">
                    <svg
                      class="usa-icon"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                    >
                      <use
                        xlink:href="/assets/njwds/dist/img/sprite.svg#arrow_back"
                      ></use>
                    </svg>
                    Previous
                  </button>
                </a>
              {% endif %} 
              {% if page.next-page %}
                <a href="{{ page.next-page.link }}">
                  <button class="usa-button usa-button--outline">
                    Next
                    <svg
                      class="usa-icon"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                    >
                      <use
                        xlink:href="/assets/njwds/dist/img/sprite.svg#arrow_forward"
                      ></use>
                    </svg>
                  </button>
                </a>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </main>
      </div>
    </div>
  </section>
</main>
