---
layout: default
---

<main id="main-content">
  {% if page.hero %}
  <section
  class="usa-hero"
  aria-label="Introduction"
  style="background-image: none"
  
>
  <div class="position-relative">
    <div class="position-relative display-flex flex-align-center flex-justify-center">
      <img class="" src="{{page.hero.image}}" alt="{{page.hero.alt-text}}">
    </div>
    {% if page.hero.title %}
    <h1 class="playbook-hero-text position-absolute {{page.hero.css-signifier}}"> {{page.hero.title}}</h1>
    {% endif  %}
  </img>
  </div>
  
</section>
  {% endif %}

  <section class="usa-section">
    <div class="grid-container">
      {% if page.pre-title-btn %}
      <div class="grid-row display-flex flex-justify-end desktop:margin-top-neg-4 desktop:margin-bottom-2">
        <a href="{{page.pre-title-btn.url}}" class="usa-button usa-button--outline" type="button" >{{page.pre-title-btn.text}}</a>
      </div>
      {% endif %}
      <div class="grid-row grid-gap">
        {% if page.menu %}
        <div class="usa-layout-docs__sidenav desktop:grid-col-3">
          {% include menu.html menu=page.menu %}
        </div>
        {% endif %}

        <main
          class="{% if page.menu %} usa-layout-docs__main desktop:grid-col-9 usa-layout-docs {% else %} width-full {% endif %}"
          id="main-content"
        >
          <h1
            {% if page.pre-title-btn %}
            style="margin-top: 0 !important"
            {% endif %}
          >
            {% if page.title-prefix %} {{ page.title-prefix }} {% endif %} {{ page.title }}
          </h1>
          {% if page.title-image %}
          <img src="{{page.title-image.image}}" alt="{{page.title-image.alt-text}}" />

          {% endif %} {{ content }} {% if page.link-out %}
          <h2>Read More</h2>
          <p>
            See the latest at the
            <a href="{% link {{page.link-out.url}} %}"
              >{{page.link-out.text}} project page</a
            >.
          </p>
          {% endif %} {% if page.next-page or page.previous-page %}
          <div class="grid-container padding-top-4 padding-x-0">
            <div class="grid-row">
              {% if page.previous-page %}
              <a href="{{ page.previous-page.link }}" class="padding-right-1">
                <button class="usa-button usa-button--outline">
                  <svg
                    class="usa-icon"
                    aria-hidden="true"
                    focusable="false"
                    role="img"
                  >
                    <use
                      xlink:href="/assets/njwds/dist/img/sprite.svg#arrow_back"
                    ></use>
                  </svg>
                  Previous
                </button>
              </a>
              {% endif %} {% if page.next-page %}
              <a href="{{ page.next-page.link }}">
                <button class="usa-button usa-button--outline">
                  Next
                  <svg
                    class="usa-icon"
                    aria-hidden="true"
                    focusable="false"
                    role="img"
                  >
                    <use
                      xlink:href="/assets/njwds/dist/img/sprite.svg#arrow_forward"
                    ></use>
                  </svg>
                </button>
              </a>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </main>
      </div>
    </div>
  </section>
</main>
