<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    {% include analytics.html %}
    <link
      rel="preload"
      href="/assets/njwds/dist/fonts/public-sans/PublicSans-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin />
    <link
      rel="preload"
      href="/assets/njwds/dist/fonts/public-sans/PublicSans-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin />
    <link
      rel="preload"
      href="/assets/njwds/dist/fonts/public-sans/PublicSans-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    {% if page.description %}
      {% assign description = page.description %}
    {% else %}
      {% assign description = page.content | markdownify | strip_html | normalize_whitespace | truncatewords: '30' %}
    {% endif %}
    {% capture title %} 
      {% if page.titleoverride %} 
        {{page.titleoverride}} | {{ site.long_title }} 
      {% elsif page.title %} {{page.title}} | {{ site.long_title }} 
      {% endif %}
    {%endcapture %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{{description}}" />
    <title>{{ title }}</title>
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/innovation-OG-image.jpg" />
    <link
      rel="icon"
      type="image/png"
      href="/assets/images/favicon.png" />
    <script src="{{ site.baseurl }}/assets/njwds/dist/js/uswds-init.min.js"></script>
    <script src="{{ site.baseurl }}/assets/feedback-widget/feedback-widget.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/njwds/dist/css/styles.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
    <style>
      @media print {
        section {
          border-bottom: none !important;
        }
        .pagebreak {
          page-break-before: always;
        } /* page-break-after works, as well */
        .usa-alert,
        .usa-card-group {
          break-inside: avoid;
        }
      }
    </style>
  </head>
  <body>


    <main id="main-content" class="maxw-tablet margin-x-auto">
      <div class="usa-logo margin-y-5 margin-top-15" id="extended-logo">
        <h1 class="display-flex flex-row flex-column flex-align-center">
          <img
            width="60"
            height="64"
            class="height-8 margin-bottom-05"
            src="{{ baseurl }}/assets/images/nj-logo.svg"
            alt="State of New Jersey" />
          {{ page.print-title }}
        </h1>
      </div>
      {% if page.hero %}
        <section
          class="usa-hero padding-top-15 padding-bottom-15"
          aria-label="Introduction"
          style="background-image: url({{page.hero.image}});">
          <div class="grid-container padding-top-10">
            {% if page.hero.title %}
              <h1 class="maxw-tablet" style="
                vertical-align: middle;
                text-align: center;
                margin: 0 auto;
                padding: 30px;
                background-color: #1c254f;
                font-size: 3em;
              ">
                {{ page.hero.title }}
              </h1>
            {% endif %}
          </div>
        </section>
      {% endif %}

      <div class="pagebreak"></div>
      <section class="usa-section border-bottom-2px border-base-light">
        <div class="grid-container">
          <div class="grid-row grid-gap">
            <main class="width-full">
              <h2>Table of Contents</h2>
              {% capture menu_content %}
          {% include menu.html menu=page.menu %}
          {% endcapture %}
              {{ menu_content | replace: '<a href="', '<a href="#' }}
            </main>
          </div>
        </div>
      </section>
      <div class="pagebreak"></div>
      {% assign chapters = site[page.chapters] | sort: 'order' %}
      {% for chapter in chapters %}
        <section class="usa-section {% unless forloop.last %}border-bottom-2px border-base-light {% endunless %}">
          <div class="grid-container">
            <div class="grid-row grid-gap">
              <main class="width-full" id="main-content">
                <h2 id="{{chapter.url}}">
                  {% if chapter.title-prefix %}
                    {{ chapter.title-prefix }}
                  {% endif %}
                  {{ chapter.title }}
                </h2>
                {% if chapter.title-image %}
                  <img src="{{chapter.title-image.image}}" alt="" />
                {% endif %}
                {{ chapter.content | markdownify | replace: "<h2", "<h3" | replace: "</h2>", "</h3>" }}
              </main>
            </div>
          </div>
        </section>
        {% unless forloop.last %}
          <div class="pagebreak"></div>
        {% endunless %}
      {% endfor %}
    </main>
    <!-- Add global signup script -->
    <script src="{{ site.baseurl }}/assets/njwds/dist/js/uswds.min.js"></script>
    {% include modal.html %}
    <script async src="https://siteimproveanalytics.com/js/siteanalyze_6291948.js"></script>
  </body>
</html>
